/*Pag-Nike-----------------------------------------------------------------------------------------------------*/
#carouselNike{
    margin: 50px 10px;
}
.carousel-item.nike img{
    height: 400px;
}
.shop-items-nike{
    margin: 100px 10px;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        text-align: center;
    }
}
.selec__talle__nike{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    