/*Pag-----Nike--Jordan--Adidas--Puma--Fila--Reebok-------------------------------------------------------------------------------------------*/
#carouselNike{
    margin: 50px 10px;
    .carousel-item.nike img{
        height: 250px;
    }
}


.titulo__pagina__nike{
    text-align: center;
    margin: 100px auto 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .titulo__pagina__nike__nav nav{
        display: none;
        
    }
    h1{
        font-size: 40px;
        font-family: $fontPrincipal;
        color: black;
    }
}


.filtro__pagina{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    width: 95%;
    margin: 0 auto ;
    border: 2px solid black;
    height: auto;
    text-align: center;
    font-family: sans-serif;
    .filtro--nav:hover{
        background-color: black;
        color: white;
    }
}

.shop-items-nike{
    margin: 50px 10px 150px 10px;
    img{
        &:hover{
            scale: 0.8;
            transition: 2s;
        }
    }
    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            text-align: center;
        }
    }
    .selec__talle__nike{
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        .btn--carrito:hover{
            color:rgb(253, 1, 1);
        }
    }
}




/*Media tablet------------------------------------------------------------------------*/
@media screen and (min-width: $mediaTablet){
    #carouselNike{
        .carousel-item.nike img{
            height: 450px;
        }
    }
    .titulo__pagina__nike{
        text-align: center;
        margin: 100px auto 0 auto;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        .titulo__pagina__nike__nav nav{
            display: flex;
            gap: 10px;
            & a, p{
                color: rgb(255, 0, 0);
            }
            
        }
        h1{
            font-size: 50px;
            font-family: $fontPrincipal;
            color: black;
        }
    }
    .filtro__pagina{
        height: 60px;
    }
}





/*Media Desktop--------------------------------------------------------------*/
@media screen and (min-width: $mediaDesktop){
    #carouselNike{
        .carousel-item.nike img{
            height: 500px;
        }
    }
    .titulo__pagina__nike{
        h1{
            font-size: 35px;
        }
    }
    .shop-items-nike{
        max-width: 1200px;
        margin: 50px auto;
    }



}