*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
/*Grid layout-----Mobile first-----*/
.grid__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
        header{
            grid-area: header;
        }
        main{
            grid-area: main;
        }
        footer{
            grid-area: footer;
        }
}


@import "variables";
@import "index";
